In [1]:
import pandas as pd
import numpy as np

In [11]:
data = pd.read_csv('./data/results.csv')

In [12]:
data

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25035,25041,1055,849,3,6,19,16,16,16,0.0,65,\N,\N,57,16,1:22.905,203.003,11
25036,25042,1055,4,214,14,10,17,17,17,0.0,65,\N,\N,63,6,1:21.182,207.311,11
25037,25043,1055,854,210,47,18,18,18,18,0.0,64,\N,\N,54,12,1:22.637,203.661,12
25038,25044,1055,853,210,9,20,19,19,19,0.0,64,\N,\N,45,19,1:24.040,200.261,12
25039,25045,1055,852,213,22,16,\N,R,20,0.0,6,\N,\N,5,20,1:24.825,198.408,10

In [29]:
df = data.loc[:,['driverId','constructorId']] # 드라이버들 중 다른 회사로 옮긴 적이 있는 비율 찾기
df

       driverId  constructorId
0             1              1
1             2              2
2             3              3
3             4              4
4             5              1
...         ...            ...
25035       849              3
25036         4            214
25037       854            210
25038       853            210
25039       852            213

[25040 rows x 2 columns]

In [46]:
df_1 = df.groupby(['driverId','constructorId']).count() #드라이버별 그룹화 진행
df_1

Empty DataFrame
Columns: []
Index: [(1, 1), (1, 131), (2, 2), (2, 3), (2, 4), (2, 15), (2, 17), (2, 20), (3, 3), (3, 131), (4, 1), (4, 4), (4, 6), (4, 18), (4, 214), (5, 1), (5, 4), (5, 205), (5, 207), (5, 208), (6, 3), (7, 5), (8, 1), (8, 6), (8, 15), (8, 51), (8, 208), (9, 2), (9, 3), (9, 4), (10, 7), (10, 17), (10, 166), (10, 206), (11, 8), (11, 16), (11, 17), (12, 4), (13, 3), (13, 6), (13, 15), (14, 1), (14, 3), (14, 9), (15, 4), (15, 7), (15, 17), (15, 18), (15, 20), (15, 205), (16, 10), (16, 12), (16, 15), (17, 3), (17, 9), (17, 18), (17, 19), (18, 1), (18, 3), (18, 4), (18, 11), (18, 16), (18, 22), (18, 23), (19, 8), (19, 16), (19, 18), (20, 2), (20, 5), (20, 6), (20, 9), (20, 117), (21, 4), (21, 6), (21, 10), (21, 15), (21, 17), (21, 18), (21, 22), (22, 3), (22, 6), (22, 11), (22, 17), (22, 23), (22, 24), (23, 3), (23, 7), (23, 17), (24, 5), (24, 9), (24, 10), (24, 164), (25, 1), (25, 3), (25, 22), (26, 5), (27, 12), (27, 13), (27, 14), (27, 18), ...]

[2127 rows x 0 columns]

In [40]:
df_list = np.unique(df) # 중복제거
df_list

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156,
       157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169,
       170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182,
       183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195,
       196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208,
       209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221,
       222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234,
       235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247,
       248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260,
       261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273,
       274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286,
       287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299,
       300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312,
       313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325,
       326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338,
       339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351,
       352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364,
       365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377,
       378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390,
       391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403,
       404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416,
       417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429,
       430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442,
       443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455,
       456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468,
       469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481,
       482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494,
       495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507,
       508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520,
       521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533,
       534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546,
       547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559,
       560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572,
       573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585,
       586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598,
       599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611,
       612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624,
       625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637,
       638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650,
       651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663,
       664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676,
       677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689,
       690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702,
       703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715,
       716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728,
       729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741,
       742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754,
       755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767,
       768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780,
       781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793,
       794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806,
       807, 808, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820,
       821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833,
       834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846,
       847, 848, 849, 850, 851, 852, 853, 854], dtype=int64)

In [62]:
df_1.index

MultiIndex([(  1,   1),
            (  1, 131),
            (  2,   2),
            (  2,   3),
            (  2,   4),
            (  2,  15),
            (  2,  17),
            (  2,  20),
            (  3,   3),
            (  3, 131),
            ...
            (847,   3),
            (847, 131),
            (848,   5),
            (848,   9),
            (849,   3),
            (850, 210),
            (851,   3),
            (852, 213),
            (853, 210),
            (854, 210)],
           names=['driverId', 'constructorId'], length=2127)

In [68]:
df_1.index[0][0]

854

In [66]:
df_1.index.shape

(2127,)

In [69]:
# 2팀 이상 머무른 전적이 있는 선수들
driver_list = []
for i in df_list:
    j = 0
    for k in range(2126):
        if df_1.index[k][0] == i:
            j += 1

    if j > 1:
        driver_list.append(i)

In [79]:
len(driver_list)

500

In [81]:
# 3팀 이상 머무른 전적이 있는 선수들
driver_list_1 = []
for i in df_list:
    j = 0
    for k in range(2126):
        if df_1.index[k][0] == i:
            j += 1

    if j > 2:
        driver_list_1.append(i)

In [82]:
len(driver_list_1)

293

In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv('./data/results.csv')

data

df = data.loc[:,['driverId','constructorId']] # 드라이버들 중 다른 회사로 옮긴 적이 있는 비율 찾기
df

df_1 = df.groupby(['driverId','constructorId']).count() #드라이버별 그룹화 진행
df_1

df_list = np.unique(df) # 중복제거
df_list

df_1.index 

df_1.index[0][0]

df_1.index.shape

# 2팀 이상 머무른 전적이 있는 선수들
driver_list = []
for i in df_list:
    j = 0
    for k in range(2126):
        if df_1.index[k][0] == i:
            j += 1

    if j > 1:
        driver_list.append(i)

len(driver_list)

# 3팀 이상 머무른 전적이 있는 선수들
driver_list_1 = []
for i in df_list:
    j = 0
    for k in range(2126):
        if df_1.index[k][0] == i:
            j += 1

    if j > 2:
        driver_list_1.append(i)

len(driver_list_1)import pandas as pd
import numpy as np
import datetime
from pandas import DataFrame

In [2]:
con_res = pd.read_csv('./data/constructor_results.csv')
con_std = pd.read_csv('./data/constructor_standings.csv')
con = pd.read_csv('./data/constructors.csv')

dri_std = pd.read_csv('./data/driver_standings.csv')
dri = pd.read_csv('./data/drivers.csv') #필요 없음

lap_times = pd.read_csv('./data/lap_times.csv')
pit_stops = pd.read_csv('./data/pit_stops.csv')
qualify = pd.read_csv(r'./data/qualifying.csv') # \N 이 유니코드로 인식되는데 이것을 방지하기 위해 앞에 r을 붙임
races = pd.read_csv('./data/races.csv')
results = pd.read_csv('./data/results.csv')

In [3]:
print('con_res : ')
print(con_res.columns,'\n')
print('con_std : ')
print(con_std.columns,'\n')
print('con : ')
print(con.columns,'\n')
print('dri_std : ')
print(dri_std.columns,'\n')
print('dri : ')
print(dri.columns,'\n')
print('lap_times : ')
print(lap_times.columns,'\n')
print('pit_stops : ')
print(pit_stops.columns,'\n')
print('qualify : ')
print(qualify.columns,'\n')
print('races : ')
print(races.columns,'\n')
print('results : ')
print(results.columns,'\n')

con_res :
Index(['constructorResultsId', 'raceId', 'constructorId', 'points', 'status'], dtype='object')

con_std :
Index(['constructorStandingsId', 'raceId', 'constructorId', 'points',
       'position', 'positionText', 'wins'],
      dtype='object')

con :
Index(['constructorId', 'constructorRef', 'name', 'nationality', 'url'], dtype='object')

dri_std :
Index(['driverStandingsId', 'raceId', 'driverId', 'points', 'position',
       'positionText', 'wins'],
      dtype='object')

dri :
Index(['driverId', 'driverRef', 'number', 'code', 'forename', 'surname', 'dob',
       'nationality', 'url'],
      dtype='object')

lap_times :
Index(['raceId', 'driverId', 'lap', 'position', 'time', 'milliseconds'], dtype='object')

pit_stops :
Index(['raceId', 'driverId', 'stop', 'lap', 'time', 'duration',
       'milliseconds'],
      dtype='object')

qualify :
Index(['qualifyId', 'raceId', 'driverId', 'constructorId', 'number',
       'position', 'q1', 'q2', 'q3'],
      dtype='object')

races :
Index(['raceId', 'year', 'round', 'circuitId', 'name', 'date', 'time', 'url'], dtype='object')

results :
Index(['resultId', 'raceId', 'driverId', 'constructorId', 'number', 'grid',
       'position', 'positionText', 'positionOrder', 'points', 'laps', 'time',
       'milliseconds', 'fastestLap', 'rank', 'fastestLapTime',
       'fastestLapSpeed', 'statusId'],
      dtype='object')

In [96]:
qualify.head(30)

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
0,1,18,1,1,22,1,1:26.572,1:25.187,1:26.714
1,2,18,9,2,4,2,1:26.103,1:25.315,1:26.869
2,3,18,5,1,23,3,1:25.664,1:25.452,1:27.079
3,4,18,13,6,2,4,1:25.994,1:25.691,1:27.178
4,5,18,2,2,3,5,1:25.960,1:25.518,1:27.236
5,6,18,15,7,11,6,1:26.427,1:26.101,1:28.527
6,7,18,3,3,7,7,1:26.295,1:26.059,1:28.687
7,8,18,14,9,9,8,1:26.381,1:26.063,1:29.041
8,9,18,10,7,12,9,1:26.919,1:26.164,1:29.593
9,10,18,20,5,15,10,1:26.702,1:25.842,\N
10,11,18,22,11,17,11,1:26.369,1:26.173,\N
11,12,18,4,4,5,12,1:26.907,1:26.188,\N
12,13,18,18,11,16,13,1:26.712,1:26.259,\N
13,14,18,6,3,8,14,1:26.891,1:26.413,\N
14,15,18,17,9,10,15,1:26.914,\N,\N
15,16,18,8,6,1,16,1:26.140,\N,\N
16,17,18,21,10,21,17,1:27.207,\N,\N
17,18,18,7,5,14,18,1:27.446,\N,\N
18,19,18,16,10,20,19,1:27.859,\N,\N
19,20,18,11,8,18,20,1:28.208,\N,\N
20,21,18,12,4,6,21,1:28.330,\N,\N
21,22,18,19,8,19,22,1:29.059,\N,\N
22,23,19,13,6,2,1,1:35.347,1:34.412,1:35.748
23,24,19,8,6,1,2,1:35.645,1:34.188,1:36.230
24,25,19,5,1,23,3,1:35.227,1:34.759,1:36.613
25,26,19,1,1,22,4,1:35.392,1:34.627,1:36.709
26,27,19,15,7,11,5,1:35.205,1:34.960,1:36.711
27,28,19,9,2,4,6,1:35.794,1:34.811,1:36.727
28,29,19,2,2,3,7,1:35.729,1:34.648,1:36.753
29,30,19,17,9,10,8,1:35.440,1:34.967,1:37.009

In [6]:
results.head(40)

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1
5,6,18,6,3,8,13,6,6,6,3.0,57,\N,\N,50,14,1:29.639,212.974,11
6,7,18,7,5,14,17,7,7,7,2.0,55,\N,\N,22,12,1:29.534,213.224,5
7,8,18,8,6,1,15,8,8,8,1.0,53,\N,\N,20,4,1:27.903,217.180,5
8,9,18,9,2,4,2,\N,R,9,0.0,47,\N,\N,15,9,1:28.753,215.100,4
9,10,18,10,7,12,18,\N,R,10,0.0,43,\N,\N,23,13,1:29.558,213.166,3
10,11,18,11,8,18,19,\N,R,11,0.0,32,\N,\N,24,15,1:30.892,210.038,7
11,12,18,12,4,6,20,\N,R,12,0.0,30,\N,\N,20,16,1:31.384,208.907,8
12,13,18,13,6,2,4,\N,R,13,0.0,29,\N,\N,23,6,1:28.175,216.510,5
13,14,18,14,9,9,8,\N,R,14,0.0,25,\N,\N,21,11,1:29.502,213.300,4
14,15,18,15,7,11,6,\N,R,15,0.0,19,\N,\N,18,10,1:29.310,213.758,10
15,16,18,16,10,20,22,\N,R,16,0.0,8,\N,\N,8,17,1:32.021,207.461,9
16,17,18,17,9,10,14,\N,R,17,0.0,0,\N,\N,\N,\N,\N,\N,4
17,18,18,18,11,16,12,\N,R,18,0.0,0,\N,\N,\N,\N,\N,\N,4
18,19,18,19,8,19,21,\N,R,19,0.0,0,\N,\N,\N,\N,\N,\N,4
19,20,18,20,5,15,9,\N,R,20,0.0,0,\N,\N,\N,\N,\N,\N,4
20,21,18,21,10,21,16,\N,R,21,0.0,0,\N,\N,\N,\N,\N,\N,4
21,22,18,22,11,17,10,\N,D,22,0.0,58,\N,\N,44,8,1:28.736,215.141,2
22,23,19,8,6,1,2,1,1,1,10.0,56,1:31:18.555,5478555,37,2,1:35.405,209.158,1
23,24,19,9,2,4,4,2,2,2,8.0,56,+19.570,5498125,39,6,1:35.921,208.033,1
24,25,19,5,1,23,8,3,3,3,6.0,56,+38.450,5517005,19,7,1:35.922,208.031,1
25,26,19,15,7,11,3,4,4,4,5.0,56,+45.832,5524387,53,8,1:36.068,207.715,1
26,27,19,1,1,22,9,5,5,5,4.0,56,+46.548,5525103,53,3,1:35.462,209.033,1
27,28,19,2,2,3,5,6,6,6,3.0,56,+49.833,5528388,55,1,1:35.366,209.244,1
28,29,19,17,9,10,6,7,7,7,2.0,56,+1:08.130,5546685,53,12,1:36.696,206.366,1
29,30,19,4,4,5,7,8,8,8,1.0,56,+1:10.041,5548596,40,10,1:36.288,207.240,1
30,31,19,14,9,9,12,9,9,9,0.0,56,+1:16.220,5554775,55,9,1:36.206,207.417,1
31,32,19,18,11,16,11,10,10,10,0.0,56,+1:26.214,5564769,56,4,1:35.715,208.481,1
32,33,19,12,4,6,13,11,11,11,0.0,56,+1:32.202,5570757,52,15,1:36.956,205.812,1
33,34,19,21,10,21,17,12,12,12,0.0,55,\N,\N,52,16,1:36.962,205.800,11
34,35,19,22,11,17,14,13,13,13,0.0,55,\N,\N,55,11,1:36.693,206.372,11
35,36,19,3,3,7,16,14,14,14,0.0,55,\N,\N,55,13,1:36.782,206.182,11
36,37,19,19,8,19,21,15,15,15,0.0,55,\N,\N,55,18,1:38.171,203.265,11
37,38,19,11,8,18,19,16,16,16,0.0,54,\N,\N,53,19,1:38.504,202.578,12
38,39,19,6,3,8,22,17,17,17,0.0,54,\N,\N,19,17,1:37.711,204.222,12
39,40,19,20,5,15,15,\N,R,18,0.0,39,\N,\N,37,14,1:36.870,205.995,5

In [97]:
qualify['q2'][16]

'\\N'

In [116]:
for i in range(len(qualify)):
    if qualify['q1'].iloc[i] != '\\N':
        qualify['q1'].iloc[i] = qualify['position'].iloc[i]
    else:
        continue

for i in range(len(qualify)):
    if qualify['q2'].iloc[i] != '\\N':
        qualify['q2'].iloc[i] = qualify['position'].iloc[i]
    else:
        continue
        
for i in range(len(qualify)):
    if qualify['q3'].iloc[i] != '\\N':
        qualify['q3'].iloc[i] = qualify['position'].iloc[i]
    else:
        continue

In [119]:
qualify.drop('position', axis=1)
# qualify 볼필요 없음 final position 으로 시작 위치 결정

      qualifyId  raceId  driverId  constructorId  number  q1  q2  q3
0             1      18         1              1      22   1   1   1
1             2      18         9              2       4   2   2   2
2             3      18         5              1      23   3   3   3
3             4      18        13              6       2   4   4   4
4             5      18         2              2       3   5   5   5
...         ...     ...       ...            ...     ...  ..  ..  ..
8769       8810    1055       852            213      22  16  \N  \N
8770       8811    1055         8             51       7  17  \N  \N
8771       8812    1055       854            210      47  18  \N  \N
8772       8813    1055       849              3       6  19  \N  \N
8773       8814    1055       853            210       9  20  \N  \N

[8774 rows x 8 columns]

In [101]:
qualify_1 = qualify.groupby(['raceId'])['q1'].rank(ascending=True, method='dense',na_option='keep') #드라이버별 그룹화 진행
qualify_1.head(10)

DataError: No numeric types to aggregate

In [28]:
df1 = pd.merge(races, qualify_1, how='inner', 
               on=['raceId']).drop(['name','date','time','url'],axis=1)
df1.head(30)

,raceId,year,round,circuitId,qualifyId,driverId,constructorId,number,position,q1,q2,q3
0,1,2009,1,1,2986,18,23,22,1,1:25.211,1:24.855,1:26.202
1,1,2009,1,1,2987,22,23,23,2,1:25.006,1:24.783,1:26.505
2,1,2009,1,1,2988,20,9,15,3,1:25.938,1:25.121,1:26.830
3,1,2009,1,1,2989,9,2,5,4,1:25.922,1:25.152,1:26.914
4,1,2009,1,1,2990,3,3,16,5,1:25.846,1:25.123,1:26.973
5,1,2009,1,1,2991,10,7,10,6,1:25.499,1:25.281,1:26.975
6,1,2009,1,1,2992,13,6,3,7,1:25.844,1:25.319,1:27.033
7,1,2009,1,1,2993,15,7,9,8,1:26.194,1:25.265,1:27.127
8,1,2009,1,1,2994,8,6,4,9,1:25.899,1:25.380,1:27.163
9,1,2009,1,1,2995,17,9,14,10,1:25.427,1:25.241,1:27.246
10,1,2009,1,1,2996,2,2,6,11,1:25.827,1:25.504,\N
11,1,2009,1,1,2997,4,4,7,12,1:26.026,1:25.605,\N
12,1,2009,1,1,2998,6,3,17,13,1:26.074,1:25.607,\N
13,1,2009,1,1,2999,5,1,2,14,1:26.184,1:25.726,\N
14,1,2009,1,1,3000,1,1,1,15,1:26.454,\N,\N
15,1,2009,1,1,3001,67,5,12,16,1:26.503,\N,\N
16,1,2009,1,1,3002,12,4,8,17,1:26.598,\N,\N
17,1,2009,1,1,3003,21,10,21,18,1:26.677,\N,\N
18,1,2009,1,1,3004,16,10,20,19,1:26.742,\N,\N
19,1,2009,1,1,3005,7,5,11,20,1:26.964,\N,\N
20,2,2009,2,2,3006,18,23,22,1,1:35.058,1:33.784,1:35.181
21,2,2009,2,2,3007,15,7,9,2,1:34.745,1:33.990,1:35.273
22,2,2009,2,2,3008,20,9,15,3,1:34.935,1:34.276,1:35.518
23,2,2009,2,2,3009,22,23,23,4,1:34.681,1:34.387,1:35.651
24,2,2009,2,2,3010,10,7,10,5,1:34.907,1:34.258,1:35.690
25,2,2009,2,2,3011,3,3,16,6,1:35.083,1:34.547,1:35.750
26,2,2009,2,2,3012,17,9,14,7,1:35.027,1:34.222,1:35.797
27,2,2009,2,2,3013,9,2,5,8,1:35.166,1:34.562,1:36.106
28,2,2009,2,2,3014,8,6,4,9,1:35.476,1:34.456,1:36.170
29,2,2009,2,2,3015,4,4,7,10,1:35.260,1:34.706,1:37.659

In [ ]:
#필요없는 변수 제거
#lap time? 필요없음 시간 보다 순서로 진행 할것

con_res = con_res.drop([''], axis=1)
con_std = con_std.drop([''], axis=1)
con = con.drop([''], axis=1)

dri_std = dri_std.drop([''], axis=1)

lap_times = lap_times.drop([''], axis=1)
pt_stops = pt_stops.drop([''], axis=1) #피트 스탑? 필요없음 순위로 결정
qualify = qualify.drop([''], axis=1) #순위 결정으로 변환, 예선진출 확률?
races = races.drop([''], axis=1)
results = results.drop([''], axis=1)

In [ ]:
#드라이버별 등급화

In [14]:
df1 = pd.merge(con_res, con_std, how='inner', 
               on=['raceId', 'constructorId']).drop('constructorStandingsId',axis=1)
df1

,constructorResultsId,raceId,constructorId,points_x,status,points_y,position,positionText,wins
0,1,18,1,14.0,\N,14.0,1,1,1
1,2,18,2,8.0,\N,8.0,3,3,0
2,3,18,3,9.0,\N,9.0,2,2,0
3,4,18,4,5.0,\N,5.0,4,4,0
4,5,18,5,2.0,\N,2.0,5,5,0
...,...,...,...,...,...,...,...,...,...
11628,16265,1055,213,1.0,\N,10.0,6,6,0
11629,16266,1055,117,0.0,\N,5.0,7,7,0
11630,16267,1055,51,0.0,\N,0.0,8,8,0
11631,16268,1055,3,0.0,\N,0.0,9,9,0
11632,16269,1055,210,0.0,\N,0.0,10,10,0